.App {
  text-align: center;
}
body {
  background-image: url("./garage.jpg");
}

h1 {
  color: gold;
}

h2 {
  color: gold;
}

h3 {
  color: gold;
}
h4 {
  color: gold;
}

h5 {
  color: gold;
}

ul {
  list-style-type: none;
}

a:link,
a:visited {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  /* box-shadow: 0 3px #999; */
}

a:hover,
a:active {
  background-color: grey;
  /* box-shadow: 0 3px #666; */
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(220, 220, 220, 0.2);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
input {
  font-size: 15px;
  border-radius: 10px;
}
input:hover,
input:active {
  background-color: grey;
}

button {
  font-size: 15px;
  border-radius: 15px;
}

button:hover,
button:active {
  background-color: grey;
  /* box-shadow: 0 3px #666; */
}
.grid-container {
  display: grid;
  width: 95%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 5px;
}

.grid-container2 {
  display: grid;
  width: 95%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  /* grid-gap: 5px; */
  background-color: rgba(220, 220, 220, 0.2);
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
