.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

a:link,
a:visited {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

a:hover,
a:active {
  background-color: orange;
  box-shadow: 0 5px #666;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: orange;
  font-size: 25px;
  /* text-shadow: 4px 4px 6px black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
input {
  font-size: 15px;
}

input:focus {
  border: 3px solid #555;
}

button {
  margin: 20px;
  font-size: 15px;
  border-radius: 15px;
}

button:hover,
button:active {
  background-color: orange;
  box-shadow: 0 5px #666;
}
